body{
    padding: 0;
    margin: 0;
      background-color: rgb(247, 248, 248);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }

.prev_grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 30% 60%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .prev_div1 { 
        grid-area: 1 / 1 / 2 / 3;
        background-color:#124C35;
        
        text-align: center;
        font-size: 300%;
        color: #DCE6E2;
     }
    .prev_div2 { 
        grid-area: 2 / 1 / 3 / 2;
        background-color: #72B399;
        

        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        border: solid;
     }

     .navigation_name{
        text-align: center;
        margin-top: 0;
        font-size:300%;
        padding-left: 1%;
        color: #ffb4f9;
     }
    .navigation{
        text-align: center;
        font-size:200%;
        margin-top: 0;
        padding-left: 1%;
        color: #DCE6E2;

    }
    
    .prev_div3 { 
        grid-area: 2 / 2 / 4 / 3;
        border: solid;
        background-color: #c0ffe5;
     }
    .run_apple_cat{
        width: 100%;
        height: auto;
        object-fit: cover;
        

    }
    .prev_div4 { 
        grid-area: 3 / 1 / 4 / 2;
        border: solid;
        background-color: #72B399;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
     }
    .discription_name {
        text-align: center;
        font-size:250%;
        margin-top: 0;
        padding-left: 1%;
        color: #ffb4f9;
        margin-bottom: 0;
    }

    .sad_banana_cat {
        width: 40%;
        height: auto;
        object-fit: cover;
        margin-left: 30%;
    }