body{
  padding: 0;
  margin: 0;
    background-color: rgb(247, 248, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
h1{
    
    padding-left: 1%;
    font-size:500%;
    
}
.grid-container {
  display: grid ;
grid-template-columns: 70% 30%;
grid-template-rows: 6% 94%;
grid-column-gap: 0px;
grid-row-gap: 0px;
  }
  


  .div1 {
    background-color:#124C35;
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;
    font-size: 300%;
    color: #DCE6E2;

  }
.div2 { 
  grid-area: 2 / 1 / 3 / 2; 
  background-color: #72B399;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}
.div3 { 
  grid-area: 1 / 2 / 3 / 3; 
  background-color: #02331F;
  text-align: center;
  border: solid;
}

.pic2 {
width: 10%;
height: 10%;
}
.pic1{
  width:100%;
  height:80%;
  object-fit: cover;
}


.title{
margin-top: 0;
margin-bottom: 1%;
color: #DCE6E2;
}

.subtitle{
  margin-top: 0;
  font-size:300%;
  padding-left: 1%;
  color: #ffb4f9;
}
.discription1{
  font-size:200%;
  margin-top: 0;
  padding-left: 1%;
  color: #DCE6E2;
}

.pic3{
width: 10%;
height: 10%;
}



  

  